	

<div class="jumbotron d-flex align-items-center" style="background-image: url(img/homefood.jpg)">
  <div class="homepic container text-center">
    <h1 class="display-2 mb-4">"Transform Your Health, <br> Start Today."</h1>
    <p>
        "Embrace a Healthier Lifestyle with Our Holistic Approach to Fasting and Weight Management."
    </p>
  </div>
</div>		

<section id="gtco-who-we-are" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap">
                <h2 class="section-title">Transform Your Lifestyle <br>with Intermittent Fasting</h2>
                <p class="section-sub-title">Discover the easiest way to improve your health and wellness through intermittent fasting. Nulla vitae elit libero, a <br> pharetra augue. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="icons/animat-checkmark.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">Simple and Effective</h5>
                    <p>Intermittent fasting offers a straightforward approach to achieving your health goals.</p>
                    
                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="icons/animat-customize.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">Adaptable to Your Lifestyle</h5>
                    <p>Intermittent fasting is flexible and can be customized to fit your schedule and preferences.</p>
                    
                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="icons/animat-responsive.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">Supports Overall Wellness</h5>
                    <p>Intermittent fasting not only aids in weight management but also promotes cellular repair and longevity. </p>
                   
                </div>
                <!-- /.col-md-4 col-sm-6  -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>



<!-- Portfolio Section -->
<section id="gtco-portfolio" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">Our <b>Impactful</b> Endeavors</h2>
                <p class="section-sub-title">Discover our impactful endeavors that drive positive change. </p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Portfolio Holder -->
                <div class="col-md-12 portfolio-holder">
                    
                    <!-- End of Btn Filter -->
                    <!-- Portfolio Content -->
                    <div class="grid-portfolio">
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>
                        <!-- Portfolio Item -->
                        <div class="grid-item minimalism">
                            <div class="grid-item-wrapper">
                                <img src="img/work1.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work1.webp" title="Photo-1">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage">
                            <div class="grid-item-wrapper">
                                <img src="img/work2.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work2.webp" title="Ship">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative grid-item-height">
                            <div class="grid-item-wrapper">
                                <img src="img/work3.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work3.webp" title="Tracy Portrait">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative">
                            <div class="grid-item-wrapper">
                                <img src="img/work4.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work4.webp" title="Guitar">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <!-- <div class="grid-item minimalism">
                            <div class="grid-item-wrapper">
                                <img src="img/photo-3.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/photo-3.jpg" title="Clock">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4>Clock</h4>
                                    </div>
                                </div>

                            </div>
                        </div> -->
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage">
                            <div class="grid-item-wrapper">
                                <img src="img/work5.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work5.webp" title="Bookself">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                        
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative">
                            <div class="grid-item-wrapper">
                                <img src="img/work6.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work6.webp" title="Guitar">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative">
                            <div class="grid-item-wrapper">
                                <img src="img/work7.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work7.webp" title="Guitar">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative">
                            <div class="grid-item-wrapper">
                                <img src="img/work8.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work8.webp" title="Guitar">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative">
                            <div class="grid-item-wrapper">
                                <img src="img/work9.webp" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" href="img/work9.webp" title="Guitar">
                                            <span class="lnr lnr-move"></span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                    </div>
                    <!-- End of Portfolio Content -->
                </div>
                <!-- End of Portfolio Holder -->
            </div>
        </div>
    </div>
</section>
<!-- End of Portfolio Section -->	



<!-- Features Section -->
<section id="gtco-features" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">
                    All the <span>Features</span> You <span>Need</span>
                </h2>
                <p class="section-sub-title">Explore the comprehensive features of our platform designed to empower your intermittent fasting journey.</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Features Holder-->
                <div class="col-md-12 features-holder">
                    <div class="row">
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                            <div class="my-4">
                                <i class="lnr lnr-users fs-40"></i>
                            </div>
                            <h4>Group Challenges</h4>
                            <p>Form groups and participate in fasting challenges together for added motivation and support.</p>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                            <div class="my-4">
                                <i class="lnr lnr-clock fs-40"></i>
                            </div>
                            <h4>Tips on Fasting</h4>
                            <p>Access educational content, tips, and information on different types of fasting to enhance your fasting journey.</p>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                            <div class="my-4">
                                <i class="lnr lnr-user fs-40"></i>
                            </div>
                            <h4>Individual Accounts</h4>
                            <p>Create and manage individual accounts for personalized fasting experiences.</p>
                        </div>
                        <!-- End of Feature Item -->
                        
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                            <div class="my-4">
                                <i class="lnr lnr-chart-bars fs-40"></i>
                            </div>
                            <h4>Display Graphs</h4>
                            <p>Visualize your fasting progress with daily, monthly, and yearly candle chart graphs.</p>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                            <div class="my-4">
                                <i class="lnr lnr-clock fs-40"></i>
                            </div>
                            <h4>Manual Input</h4>
                            <p>Easily input fasting start and end times manually for accurate tracking.</p>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                            <div class="my-4">
                                <i class="lnr lnr-chart-bars fs-40"></i>
                            </div>
                            <h4>Goal Setting</h4>
                            <p>Set and track weight loss goals and fasting goals to stay motivated.</p>
                        </div>
                        <!-- End of Feature Item -->
                    </div>
                </div>
                <!-- End of Features Holder -->
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section -->



	




