<!-- Contact Form Section -->
<section id="gtco-single-content" class="bg-white">
    <div class="container">
        <div class="section-content blog-content">
            <div class="row">
                <!-- Single Content Holder -->
                <div class="col-md-8 offset-md-2 mt-4">
                    <h1 class="focus">Sign In</h1>

                        <form action="" method="post">
                        <label for="email">Email:</label><br>
                        <input type="text" id="email" name="email" required><br>
                        <label for="password">Password:</label><br>
                        <input type="password" id="password" name="password" required><br>
                        <button type="submit">Sign In</button>
                        </form>
                        <p>Don't have an account? <a href="signup.html">Sign up here</a>.</p>

                </div>
                <!-- End of Contact Form Holder -->
            </div>
        </div>
    </div>
</section>
<!-- End of Contact Form Section -->				
