<div class="boxed-page">

<!-- Contact Form Section -->
<section id="gtco-single-content" class="bg-white">
    <div class="container">
        <div class="section-content blog-content">
            <div class="row">
                <!-- Single Content Holder -->
                <div class="col-md-8 offset-md-2 mt-4">
                    <h1 class="focus">Sign Up</h1>

                    <form action="register.php" method="post">
                        <label for="email">Enter Your Email:</label><br>
                        <input type="text" id="email" name="email" required><br>
                        <label for="password">Create Your Password:</label><br>
                        <input type="password" id="password" name="password" required><br>
                        <button type="submit">Sign Up</button>
                      </form>
                      <p>Already have an account? <a href="signin.html">Sign in here</a>.</p>

                    </div>
                <!-- End of Contact Form Holder -->
            </div>
        </div>
    </div>
</section>
<!-- End of Contact Form Section -->	

</div>